.checkbox-block{
    width: 18px;
    height: 18px;
    margin: 2px 0 0 0;
    cursor: pointer;
}

.task-text{
    font-size: 20px;
    margin: 0;
}

.task-card{
    border: 1px solid #181818;
    padding: 16px;
    border-radius: 5px;
    background-color: black;
}